title = "gitleaks config"

[[rules]]
id = "jwt-token"
description = "JWT Token"
regex = '''eyJ[A-Za-z0-9-_]*\.eyJ[A-Za-z0-9-_]*\.([A-Za-z0-9-_]*)'''
secretGroup = 1

[[rules]]
id = "ssh-private-key"
description = "SSH Private Key"
regex = '''-----BEGIN OPENSSH PRIVATE KEY-----'''
secretGroup = 0

[allowlist]
paths = [
    '''node_modules/''',
    '''\.git/''',
    '''dist/''',
    '''build/''',
    '''.*\.md$''',
    '''.*\.txt$''',
    '''docs/'''
]
