# Configuración de pnpm para optimizar builds
store-dir=/root/.pnpm-store
shamefully-hoist=false
strict-peer-dependencies=false
auto-install-peers=true
side-effects-cache=true
side-effects-cache-readonly=false
package-import-method=copy
node-linker=isolated
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
