services:
  gateway:
    build:
      context: .
      dockerfile: apps/gateway/Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - NATS_URL=nats://nats:4222
    depends_on:
      - nats
      - auth-service
      - user-service
      - payment-service
      - order-service
      - product-service
    restart: unless-stopped
