name: Docker Build Cloud CI

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  docker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [inventory-service, auth-service, order-service, product-service, web, dashboard-web]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PAT }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: cloud
          endpoint: "neiland/a4co-cloud-builder"

      - name: Build and push backend services
        uses: docker/build-push-action@v6
        with:
          context: ./apps/${{ matrix.service }}
          file: ./apps/${{ matrix.service }}/Dockerfile
          tags: "${{ vars.DOCKER_USER }}/${{ matrix.service }}:latest,${{ vars.DOCKER_USER }}/${{ matrix.service }}:${{ github.sha }}"
          outputs: ${{ github.event_name == 'pull_request' && 'type=cacheonly' || 'type=registry' }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64,linux/arm64
        if: matrix.service != 'web' && matrix.service != 'dashboard-web'

      - name: Build and push web applications
        uses: docker/build-push-action@v6
        with:
          context: ./apps/${{ matrix.service }}
          tags: "${{ vars.DOCKER_USER }}/${{ matrix.service }}:latest,${{ vars.DOCKER_USER }}/${{ matrix.service }}:${{ github.sha }}"
          outputs: ${{ github.event_name == 'pull_request' && 'type=cacheonly' || 'type=registry' }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64,linux/arm64
        if: matrix.service == 'web' || matrix.service == 'dashboard-web'